body {
    font-family: 'Roboto Mono', sans-serif;
    color: #2e3440;
}

.container {
    padding: 10px;
}

.title {
    background-color: #2e3440;
    color: #8FBCBB;
    text-align: left;
}

.nav {
    font-size: 25px;
    display: grid;
    grid-template-columns: auto 0.2fr 0.2fr;
    text-align: center;
    grid-template-rows: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 5px;
}

a {
    color: #2e3440;
    text-decoration: none;
}

.blogs {
    display: grid;
    margin-top: 1%;
    grid-template-columns: 50% 50%;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

@media screen and (max-width: 1000px) {
    .title {
        text-align: center;
        grid-column: 1/4;
    }

    .title .container {
        padding-left: 0%;
    }

    .nav {
        grid-template-columns: 50% 50%;
    }

    .blogs {
        width: 100%;
        margin: 0%;
        margin-top: 2%;
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 600px) {
    .nav {
        grid-template-columns: auto;
    }

}
