<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/blogs.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/container.css">

    <script src="script.js"></script>
</head>
<body>
    <%- include('nav') %>
    <div class="card container blog-title">
        Web Logs
    </div>
    <div class="blogs">
        <% for (i = blogs.length - 1; i >= 0; i--) { %>
            <a href="/blog/<%= i %>">
                <div class="card container" style="margin-top: 2%; text-align: left">
                    <%= blogs[i].title.slice %>
                </div>
            </a>
        <% } %>
    </div>
</body>
</html>
