@import url("main.css");

.about {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: var(--fg);
    margin-top: 2%;
}

@media screen and (max-width: 800px) {
    .about {
        width: 90%;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
    }
}
