:root {
  /* light mode */
  --fg: #2e3440;
  --fg1: #8fbcbb;
  --bg: #eceff4;
  --bg1: #ffffff;
  /* dark mode: */
  --fg: #8fbcbb;
  --fg1: #2e3440;
  --bg: #2e3440;
  --bg1: #3B4252;

  --code: #A3BE8C;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    color: var(--fg);
    background-color: var(--bg);
}

a {
    color: var(--fg);
}

pre {
    background-color: var(--bg);
    border-radius: 5px;
    padding: 5px;
    color: var(--code);
}

code {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 90%;
    background-color: var(--bg);
    border-radius: 5px;
    color: var(--code);
}

p code {
    padding: 2px;
}
