:root {
  /* dark mode: */
  --fg: #8fbcbb;
  --fg1: #2e3440;
  --bg: #2e3440;
  --bg1: #3B4252;
  /* light mode */
  --fg: #2e3440;
  --fg1: #8fbcbb;
  --bg: #eceff4;
  --bg1: #ffffff;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    color: var(--fg);
    background-color: var(--bg);
}

a {
    color: #2E3440;
    text-decoration: none;
}
