.blogs {
    font-size: 25px;
    margin-top: 2%;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.blogs .card {
    color: #2E3440
}

@media screen and (max-width: 800px) {
    .blogs {
        width: 90%;
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
    }
}
