.nav {
    font-size: 25px;
    /*top: 0;*/
    display: grid;
    grid-template-columns: auto 0.2fr 0.2fr;
    text-align: center;
    grid-template-rows: auto;
    position: -webkit-sticky;
    /*position: sticky;*/
    background-color: #FFFFFF;
}

.nav .card {
    background-color: #2E3440;
}

.title {
    text-align: left;
}

@media screen and (max-width: 500px) {
    .nav {
        grid-template-columns: 50% 50%;
    }

    .title {
        text-align: center;
        grid-column: 1/4;
    }

    .title .container {
        padding-left: 0%;
    }
}
