<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Jack Davidson :: <%= blog.title %></title>

    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/blogs.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/container.css">
</head>
<body>
    <%- include('nav') %>
    <div class="blog card">
        <div class="content-container">
            <%- blog.content %>
            <br>
            <%= blog.date.toDateString() %>
        </div>
    </div>
</body>
</html>
