<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Jack Davidson :: Contact</title>
    <link rel="stylesheet" href="css/card.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/blogs.css">
    <link rel="stylesheet" href="/css/container.css">
    <link rel="stylesheet" href="/css/contact.css">

</head>
<body>
    <%- include('nav') %>
    <div class="card contact">
        <div class="content-container">
            <h1>Contact</h1>
            <b>mail</b>: <%= email %>
            <br>
            <b>discord</b>: <%= discord %>
            <br>
            <b>linkedin</b>: <a href="<%= linkedin %>">jackmdavidson</a>
            </div>
        </div>
    </div>
</body>
</html>
