<div class="nav">
    <a href="/" class="nav-title">
        <div class="card container">
            &#x1F44B; jackdavidson.tech
        </div>
    </a>
    <a href="/portfolio" class="nav-portfolio">
        <div class="card container">
            Portfolio
        </div>
    </a>
    <a href="/about" class="nav-about">
        <div class="card container">
            About
        </div>
    </a>
    <a href="/contact" class="nav-contact">
        <div class="card container">
            Contact
        </div>
    </a>
</div>
